@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-dark: oklch(0.1 0.025 52);
  --bg: oklch(0.15 0.025 52);
  --bg-light: oklch(0.2 0.025 52);
  --text: oklch(0.96 0.05 52);
  --text-muted: oklch(0.76 0.05 52);
  --highlight: oklch(0.5 0.05 52);
  --border: oklch(0.4 0.05 52);
  --border-muted: oklch(0.3 0.05 52);
  --primary: oklch(0.76 0.1 52);
  --secondary: oklch(0.76 0.1 232);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

* {
  color: var(--text);
}
